html {
  font-size: 16px; }

.header {
  font-size: 0.75rem; }

.wrapper {
  width: 720px;
  margin: 16px 8px 32px 48px; }

body {
  padding: 10px; }

.single {
  color: blue;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.multi {
  color: orange;
  width: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden; }

.nor {
  width: 3rem; }
