@charset "UTF-8";
/**************************************!
 * 这里定义了u方法，依赖外部变量 $px-only
 *
 **************************************/
.main-header {
  margin: 1rem 2rem 20px 3rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem; }

.header {
  font-size: 0.75rem; }

.wrapper {
  width: 720px;
  margin: 16px 8px 32px 48px; }

body {
  padding: 10px; }

.single {
  color: blue;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.multi {
  color: orange;
  width: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden; }

.nor {
  width: 3rem; }
