
// 配置 
$px-only:false; 
// 导入Sass的函数文件 
@import 'function.scss';

// 导入网站的模块文件 
@import "module-example.scss";






.header {
    font-size: pxTorem(12px);
}


//SCSS 
.wrapper { 
    @include remCalc(width,45); 
    @include remCalc(margin,1,.5,2,3); 
}

body {
    @include remCalc(padding, pxTorem(10));
}

.single {
    color: blue;
    width: 50px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.multi {
    color: orange;
    width: 75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.nor {
    width: pxTorem(48px); 
}